<div class="flex justify-center">

    <div *ngIf="filesLoaded" data-aos="fade-right" data-aos-duration="3000"
        class="w-[40vw] h-80 mt-16 border-2 border-white bg-slate-500">

        <div class="text-center text-white text-xl mb-7 mt-10">Now playing: {{ currentSongNamePlay }}</div>
        <audio #audioPlayer class="w-[90%] mx-auto mt-10"> </audio>

        <div class="flex justify-center items-center gap-3">
            <div (click)="playPreviousSong()"
                class="bg-blue-500 rounded-full p-4 flex items-center justify-center w-12 h-12 cursor-pointer">
                <i class="fa-solid fa-backward-step text-2xl text-white"></i>
            </div>
            <div (click)="togglePlayPause()"
                class="bg-blue-500 rounded-full p-4 flex items-center justify-center w-16 h-16 cursor-pointer">
                <i *ngIf="!isPlaying" class="fa-solid fa-play text-2xl text-white"></i>
                <i *ngIf="isPlaying" class="fa-solid fa-pause text-2xl text-white"></i>
            </div>
            <div (click)="stopSong()"
                class="bg-blue-500 rounded-full p-4 flex items-center justify-center w-12 h-12 cursor-pointer">
                <i class="fa-solid fa-stop text-2xl text-white"></i>
            </div>
            <div (click)="playNextSong()"
                class="bg-blue-500 rounded-full p-4 flex items-center justify-center w-12 h-12 cursor-pointer">
                <i class="fa-solid fa-forward-step text-2xl text-white"></i>
            </div>
        </div>

        <div class="flex justify-center mt-4 mb-8 text-slate-50">
            Volume {{ (volume * 100).toFixed(0) }}%
            <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="adjustVolume()">
        </div>

        <div class="w-3/4 mx-auto h-5 bg-white cursor-pointer mt-5 rounded-md" (click)="seek($event)">
            <div class="h-[100%] bg-gradient-to-r from-green-500 to-orange-500 rounded-md" [style.width.%]="progress">
            </div>

            <div class="flex justify-evenly text-slate-100 gap-80">
                <h1>{{ currentTimeSong | secondsToMmSs }}</h1>
                <h1>{{ songDuration | secondsToMmSs }}</h1>
            </div>
        </div>

    </div>

    <div class="w-[35vw] h-80 mt-16 border-2 border-white bg-slate-600">
        <h1 *ngIf="filesLoaded" class="text-white text-center text-2xl">Playlist</h1>

        <div *ngIf="!filesLoaded" class="flex justify-center m-10">
            <input type="file" webkitdirectory multiple (change)="loadFolder($event)">
        </div>

        <ul class="overflow-y-scroll h-64 mx-1" *ngIf="filesLoaded" data-aos="fade-right">
            <li *ngFor="let file of audioFiles; let i = index">
                {{ i + 1 }}. <span>{{ file.name | truncate }}</span>
                <button (click)="playSong(i)">Play</button>
            </li>
        </ul>
    </div>

</div>